/* .activityBtn {
  margin: 15px;
} */

/* .form {
  margin: 25px;
} */

/* .root {
  flexGrow: 1;
} */

/* .paper {
  padding: theme.spacing(1);
  textAlign: 'center';
  color: theme.palette.text.secondary;
} */
  
/* .textfield {
  margin: theme.spacing(1);
  width: '25ch';
  font-size: 18em,
} */

/* .table {
  minWidth: 650;
}

.container {
  maxHeight: 440;
} */
